.navbar{
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	border-style: solid;
	border-color: orange;
	background-color: orange;
}

.content {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	background-color: antiquewhite;
}

.news{
	width: 33%;
}

.content>p{
	width: 100%;
	justify-content: center;
}